* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    text-align: center;
    margin: 0;    
}

header {
    background-color: #757fb2;
    display: flex;
    text-align: left;    
    align-items: center;    
}

img {
    content: url('https://api.iconify.design/arcticons/cryptomator.svg?color=%23f3f5fc&height=130');
}

h1 {
    color: #f3f5fc;
    font-size: 3em;   
}

h2 {
    color: #757fb2;
    text-transform: lowercase;
    font-style: italic;
}

section {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 680px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#input {
    background-color: #e5e5e5;
    border-radius: 24px;
    border-style: none;

}

#result {
    background-color: #FFFF;
    border-radius: 24px;
    border-style: none;
}

button {
    background: #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-size: 26px;
    color: #fff;

}

footer {
    background-color: #757fb2;
    color: #f3f5fc;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}